
# dependencies
/frontend/node_modules
/.pnp
.pnp.js

# Python
/backend/__pycache__/
*.pyc
/backend/venv/

# Flask
/backend/instance/
/backend/.env
/backend/.flaskenv

# React
/frontend/build

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Exclude todo.txt
/todo.txt