/*** HEADER STYLES ***/

.header {
  width: 100vw;
  background-color: #0D181C;
  color: #F4E9CD;
  position: fixed;
  top: 0;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.header-left {
  padding-left: 20px;
}

.header-right {
  flex-direction: column;
  padding-right: 20px;
}

.header-left, .header-right {
  flex: 0 0 auto;
  width: 10%;
}

.header-center {
  flex: 1; /* Take up the remaining space */
  justify-content: center;
  display: flex;
}

.tab-button {
  background: #2FB1A2;
  border: none;
  padding: 20px;
  cursor: pointer;
  margin: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.tab-button:hover {
  background: #3fcdb3;
  border-radius: 20px;
}

.selected-tab {
  background: #F4E9CD;
  border-radius: 20px; /* Rounded corners */
}

.selected-tab:hover {
  background: #F4E9CD;
  border-radius: 20px; /* Rounded corners */
}

.tab-button svg {
  width: 30px;
  height: 30px;
  color: #F4E9CD; /* Set icon color to white */
}

.selected-tab svg {
  color: #0D181C; /* Icon color for selected tab */
}

.tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: #0D181C;
  color: #F4E9CD;
  text-align: center;
  border-radius: 6px;
  padding: 15px 0;
  padding-left: 5px;
  padding-right: 5px;
  position: absolute;
  z-index: 1;
  top: 110%;
  margin-left: 10px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tab-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
  font-size: large;
  font-family: Montserrat;
  font-weight: bold;
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-display {
  padding-right: 10px;
}

.header-button {
  color: #F4E9CD;
  background: none;
  border: none;
  cursor: pointer;
  margin: 5px;
  font-family: Montserrat;
}

.header-button:hover {
  color: #3fcdb3;
}