/*** PROFILE STYLES ***/

.profile-container {
    width: 100vw;
    height: calc(100vh - 110px);
    overflow-y: auto;
    background-color: #1A2F38;
    color: #F4E9CD;
    position: fixed;
    top: 90px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    font-family: Montserrat;
    z-index: 9;
}

.section-box {
    background-color: #0D181C;
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-box:hover {
    outline: 3px solid #2FB1A2;
    transition: outline 0.3s;
    background-color: #13232A;
}

.profile-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile-container input[type="number"],
.profile-container input[type="range"],
.profile-container textarea {
    margin: 5px 0;
    width: 100%;
    padding: 8px;
    border: 1px solid #2FB1A2;
    border-radius: 4px;
    background-color: #F4E9CD;
}

.profile-container label {
    display: block;
    margin: 5px 0;
    padding-bottom: 10px;
}

.profile-container textarea {
    height: 80px;
    resize: none; /* Prevent manual resize */
    overflow-y: auto; /* Scrollable */
}

.profile-container input[type="checkbox"] {
    margin-right: 5px;
}

.profile-container input[type="radio"] {
    margin-right: 5px;
}

/* Additional styles for slider */
.profile-container input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #2FB1A2;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.profile-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #F4E9CD;
    cursor: pointer;
}

.profile-container input[type="range"]::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #F4E9CD;
    cursor: pointer;
}

/* Inline Display for Height Unit and Input */
.height-unit-section {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.height-unit-section input[type="number"] {
    margin-right: 10px;
}

/* Display Fitness Level Value */
.fitness-level-display {
    margin-top: 5px;
}

.profile-container button {
    background-color: #2FB1A2;
    color: #F4E9CD;
    padding: 10px 15px;
    margin-bottom: 50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.profile-container button:hover {
    background-color: #3fcdb3;
}