/*** THREADS STYLES ***/

.threads-container {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: #1A2F38;
    color: #F4E9CD;
    position: fixed;
    top: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px; /* Space between flex items */
    z-index: 9;
}

.thread-box {
    background-color: #0D181C;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.thread-box:hover {
    background-color: #13232A;
}

.thread-box h2 {
    margin: 0;
    color: #F4E9CD;
}

.thread-box p {
    color: #A8BFC9;
}